<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SonarQube Vulnerability Report</title>
	<style>
		/*
	The sss stylesheet is released under the MIT license.
	<https://github.com/Thiht/sss>
	*/
		pre,
		td,
		th {
			padding: 5px 10px
		}

		code,
		hr,
		pre,
		thead {
			background: #EEE
		}

		body {
			color: #333;
			font-family: 'Segoe UI', 'Lucida Grande', Helvetica, sans-serif;
			line-height: 1.5;
		}

		div.summup {
			max-width: 800px;
			margin: 50px auto;
		}
		div.detail {
			padding: 20px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 400;
			line-height: 1em;
			margin: 20px 0
		}

		h1 {
			font-size: 2.25em
		}

		h2 {
			font-size: 1.75em
		}

		h3 {
			font-size: 1.5em
		}

		h4,
		h5,
		h6 {
			font-size: 1.25em
		}

		a {
			color: #08C;
			text-decoration: none
		}

		a:focus,
		a:hover {
			text-decoration: underline
		}

		a:visited {
			color: #058
		}

		img {
			max-width: 100%
		}

		li+li {
			margin-top: 3px
		}

		dt {
			font-weight: 700
		}

		code {
			font-family: Consolas, "Lucida Console", monospace;
			padding: 1px 5px
		}

		pre {
			white-space: pre-wrap
		}

		pre code {
			padding: 0
		}

		blockquote {
			border-left: 5px solid #EEE;
			margin: 0;
			padding: 0 10px
		}

		table {
			border-collapse: collapse;
			width: 100%
		}

		table+table {
			margin-top: 1em
		}

		thead {
			text-align: left
		}

		td,
		th {
			border: 1px solid #EEE
		}
		td.component{
			word-break: break-all;
		}

		hr {
			border: 0;
			height: 1px
		}
	</style>
	<style>
		.banner {
			text-align: center;
		}

		canvas {
			display: block;
			margin: 10px auto;
		}
	</style>
</head>

<body>
	<div class=summup>
		<!-- insert your company banner here -->
		<!--
		<p class="banner">
			<a href="https://www.soprasteria.com/" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/02/Sopra_Steria_logo.svg/1280px-Sopra_Steria_logo.svg.png" alt="Sopra Steria" height="50">
			</a>
		</p>
		-->

		<h1>SonarQube Vulnerability Report</h1>

		<dl>
			<dt>Report Generated On</dt>
			<dd><%= date %></dd>

			<dt>Project Name</dt>
			<dd><%= projectName %></dd>

			<dt>Application</dt>
			<dd><%= applicationName %></dd>

			<dt>Release</dt>
			<dd><%= releaseName %></dd>

			<dt>Delta analysis</dt>
			<dd><%= deltaAnalysis %></dd>

			<%if (sinceLeakPeriod) { %>

			<dt>Reference period </dt>
			<dd><%= previousPeriod %></dd>

			<% } %>
		</dl>

		<h2>Summary of the Detected Vulnerabilities</h2>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Severity</th>
					<th>Number of Issues</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="background-color:#2c3e50"></td>
					<td>BLOCKER</td>
					<td><%= summary.blocker %></td>
				</tr>
				<tr>
					<td style="background-color: #d43223"></td>
					<td>CRITICAL</td>
					<td><%= summary.critical %></td>
				</tr>
				<tr>
					<td style="background-color: #f39c12"></td>
					<td>MAJOR</td>
					<td><%= summary.major %></td>
				</tr>
				<tr>
					<td style="background-color: #319ddb"></td>
					<td>MINOR</td>
					<td><%= summary.minor %></td>
				</tr>
			</tbody>
		</table>

		<%if (issues.length > 0) { %>
		<canvas id="vulnerabilitiesPieChart" width="200" height="200"></canvas>
		<% } %>
	</div>

	<div class=detail>
		<%if (issues.length > 0) { %>
		<h2>Detail of the Detected Vulnerabilities</h2>
		<table>
			<thead>
				<tr>
					<th>Rule</th>
					<th>Severity</th>
					<th>Component</th>
					<th>Line</th>
					<th>Description</th>
					<th>Message</th>
					<th style="display:none;">Key</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < issues.length; i++) { %>
				<tr>
					<td><a href="<%= sonarBaseURL %>/coding_rules#rule_key=<%= issues[i].rule %>"><%= issues[i].rule %></a></td>
					<td><%= issues[i].severity %></td>
					<td class="component"><%= issues[i].component %></td>
					<td><%= issues[i].line %></td>
					<td><%= issues[i].description %></td>
					<td><%= issues[i].message %></td>
					<td style="display:none;"><%= issues[i].key %></td>
					<td><%= issues[i].status %></td>
				</tr>
				<% } %>
			</tbody>
		</table>

		<% } %>

		<h3>Known Security Rules</h3>
		<table style="table-layout: fixed; word-wrap: break-word">
			<thead>
				<tr>
					<th>Rule</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < rules.length; i++) { %>
				<tr>
					<td><a
							href="https://next.sonarqube.com/sonarqube/coding_rules#rule_key=<%= rules[i].key %>"><%= rules[i].key %></a>
					</td>
					<td>
						<details>
							<%- rules[i].htmlDesc %>
						</details>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<%if (issues.length > 0) { %>

	<script>
		var canvas = document.getElementById("vulnerabilitiesPieChart");
		var ctx = canvas.getContext("2d");

		var data = [ 
			<%= summary.blocker %> ,
			<%= summary.critical %> ,
			<%= summary.major %> ,
			<%= summary.minor %>
		];
		var total = data.reduce(function (sum, n) {
			return sum + n;
		})
		var colors = ['#2c3e50', '#d43223', '#f39c12', '#319ddb'];

		for (var i = 0, lastend = 0; i < data.length; i++) {
			ctx.fillStyle = colors[i];
			ctx.beginPath();
			ctx.moveTo(canvas.width / 2, canvas.height / 2);
			ctx.arc(canvas.width / 2, canvas.height / 2, canvas.height / 2, lastend, lastend + (Math.PI * 2 * (data[i] /
				total)), false);
			ctx.lineTo(canvas.width / 2, canvas.height / 2);
			ctx.fill();
			lastend += Math.PI * 2 * (data[i] / total);
		}
	</script>

	<% } %>
</body>

</html>