<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SonarQube <%= vulnerabilityPhrase %> Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h1, h2 {
      margin-top: 20px;
      color: #333;
    }

    .table {
      border-radius: 10px;
      overflow: hidden;
    }

    .table thead th {
      background-color: #f8f9fa;
    }

    .table tbody td {
      vertical-align: middle;
    }

    .table .sevHIGH {
      background-color: #d43223;
    }

    .table .sevMEDIUM {
      background-color: #f39c12;
    }

    .table .sevLOW {
      background-color: #319ddb;
    }

    .summary-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 20px;
    }

    .summary-table {
      flex: 1;
      margin-right: 20px;
    }

    .pie-chart-container {
      flex: 1;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .divider {
      height: 2px;
      background-color: #ddd;
      margin: 20px 0;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="text-center mb-4">
      <!-- insert your company banner here -->
      <!--
      <p class="banner">
        <a href="https://www.soprasteria.com/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/02/Sopra_Steria_logo.svg/1280px-Sopra_Steria_logo.svg.png" alt="Sopra Steria" height="50">
        </a>
      </p>
      -->
      <h1>SonarQube <%= vulnerabilityPhrase %> Report</h1>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Report Generated On</dt>
      <dd class="col-sm-9"><%= date %></dd>

      <dt class="col-sm-3">Project Name/URL</dt>
      <dd class="col-sm-9">
        <a href="<%= sonarBaseURL %>/dashboard?id=<%= sonarComponent %>" target="_blank">
          <%= projectName %>
        </a>
      </dd>

      <dt class="col-sm-3">Application</dt>
      <dd class="col-sm-9"><%= applicationName %></dd>

      <dt class="col-sm-3">Release</dt>
      <dd class="col-sm-9"><%= releaseName %></dd>

      <dt class="col-sm-3">Branch</dt>
      <dd class="col-sm-9"><%= branch %></dd>

      <dt class="col-sm-3">Delta Analysis</dt>
      <dd class="col-sm-9"><%= deltaAnalysis %></dd>

      <% if (!noCoverage) { %>
      <dt class="col-sm-3">Coverage</dt>
      <dd class="col-sm-9"><%= coverage %></dd>
      <% } %>

      <% if (inNewCodePeriod) { %>
      <dt class="col-sm-3">New Code Period</dt>
      <dd class="col-sm-9"><%= inNewCodePeriod %></dd>
      <% } %>
    </dl>

    <div class="divider"></div>

    <% if (qualityGateStatus) { %>
    <h2 class="text-center">Quality Gate Status: <%= qualityGateStatus.projectStatus.status %> since <%= qualityGateStatusPeriodDate %></h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>Metric</th>
          <th>Value - Threshold</th>
        </tr>
      </thead>
      <tbody>
        <% for (const condition of qualityGateStatus.projectStatus.conditions) { %>
        <tr>
          <td style="background-color:<%- condition.status == 'OK' ? '#28a745' : '#dc3545' %>"></td>
          <td><%= condition.metricKey %></td>
          <td>
            <%= condition.actualValue %> <%= condition.comparator=='GT' ? '>' : '<' %> <%= condition.errorThreshold %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <div class="divider"></div>

    <h2 class="text-center">Summary of the Detected <%= vulnerabilityPluralPhrase %></h2>
    <div class="summary-section">
      <table class="table table-bordered table-striped summary-table">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th>Severity</th>
            <th>Number of Issues</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sevHIGH"></td>
            <td>HIGH</td>
            <td><%= summary.high %></td>
          </tr>
          <tr>
            <td class="sevMEDIUM"></td>
            <td>MEDIUM</td>
            <td><%= summary.medium %></td>
          </tr>
          <tr>
            <td class="sevLOW"></td>
            <td>LOW</td>
            <td><%= summary.low %></td>
          </tr>
        </tbody>
      </table>
      <% if (issues.length > 0) { %>
      <div class="pie-chart-container">
        <canvas id="vulnerabilitiesPieChart" width="200" height="200"></canvas>
      </div>
      <% } %>
    </div>

    <div class="divider"></div>

    <% if (issues.length > 0) { %>
    <h2 class="text-center">Detail of the Detected <%= vulnerabilityPluralPhrase %></h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Rule</th>
          <th>Severity</th>
          <th>Component</th>
          <th>Line</th>
          <th>Description</th>
          <th>Message</th>
          <th class="hidden">Key</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < issues.length; i++) { %>
        <tr>
          <td><a href="<%= sonarBaseURL %>/coding_rules#rule_key=<%= issues[i].rule %>"><%= issues[i].rule %></a></td>
          <td><%= issues[i].severity == "BLOCKER" ? "HIGH" : issues[i].severity %></td>
          <td class="component"><%= issues[i].component %></td>
          <td><%= issues[i].line %></td>
          <td><%= issues[i].description %></td>
          <td><%= issues[i].message %></td>
          <td class="hidden"><%= issues[i].key %></td>
          <td><%- issues[i].link(issues[i].status) %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <div class="divider"></div>

    <% if (!noRulesInReport) { %>
    <h3 class="text-center">Known Security Rules</h3>
    <table class="table table-bordered table-striped rulestable">
      <thead class="thead-light">
        <tr>
          <th>Rule</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% for (const [ruleKey, rule] of rules) { %>
        <tr>
          <td><a href="https://next.sonarqube.com/sonarqube/coding_rules#rule_key=<%= ruleKey %>"><%= ruleKey %></a></td>
          <td>
            <details>
              <%- rule.htmlDesc %>
            </details>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
  </div>

  <% if (issues.length > 0) { %>
  <script>
    var canvas = document.getElementById("vulnerabilitiesPieChart");
    var ctx = canvas.getContext("2d");

    var data = [<%= summary.high %>, <%= summary.medium %>, <%= summary.low %>];
    var total = data.reduce(function (sum, n) { return sum + n; });
    var colors = ['#d43223', '#f39c12', '#319ddb'];
    var labels = ['High', 'Medium', 'Low'];

    for (var i = 0, lastend = 0; i < data.length; i++) {
      ctx.fillStyle = colors[i];
      ctx.beginPath();
      ctx.moveTo(canvas.width / 2, canvas.height / 2);
      ctx.arc(canvas.width / 2, canvas.height / 2, canvas.height / 2, lastend, lastend + (Math.PI * 2 * (data[i] / total)), false);
      ctx.lineTo(canvas.width / 2, canvas.height / 2);
      ctx.fill();
      ctx.fillStyle = '#fff';
      ctx.font = 'bold 14px Arial';
      ctx.fillText(labels[i], canvas.width / 2 + (canvas.height / 4) * Math.cos(lastend + Math.PI * (data[i] / total)), canvas.height / 2 + (canvas.height / 4) * Math.sin(lastend + Math.PI * (data[i] / total)));
      lastend += Math.PI * 2 * (data[i] / total);
    }
  </script>
  <% } %>
</body>

</html>
