SonarQube <%= vulnerabilityPhrase %> Report

Report Generated On <%= date %>

Project Name: <%= projectName %>
Application: <%= applicationName %>
Release: <%= releaseName %>
Branch: <%= branch %>
Delta analysis: <%= deltaAnalysis %>
<%_ if (inNewCodePeriod) { _%>
New Code Period: <%= inNewCodePeriod %>
<%_ } _%>
<%_ if (qualityGateStatus) { _%>
Quality gate status: <%= qualityGateStatus.projectStatus.status %> on <%= qualityGateStatus.projectStatus.period?.date %> (<%= qualityGateStatus.projectStatus.period?.parameter %>)<

  <%_ for (const condition of qualityGateStatus.projectStatus.conditions) { _%>
Metric: <%= condition.metricKey %></td>
Value: <%= condition.actualValue %> <%= condition.comparator == 'GT' ? '>' : '<' %> <%= condition.errorThreshold %></td>
  <%_ } _%>
<%_ } _%>

