SonarQube <%= vulnerabilityPhrase %> Report

Report Generated On <%= date %>

Project Name: <%= projectName %>
Application: <%= applicationName %>
Release: <%= releaseName %>
Branch: <%= branch %>
Delta analysis: <%= deltaAnalysis %>
<%_ if (inNewCodePeriod) { _%>
New Code Period: <%= inNewCodePeriod %>
<%_ } _%>
<%_ if (qualityGateStatus) { _%>
Quality gate status: <%= qualityGateStatus.projectStatus.status %> on <%= qualityGateStatus.projectStatus.period?.date %> (<%= qualityGateStatus.projectStatus.period?.parameter %>)

< <%_ for (const condition of qualityGateStatus.projectStatus.conditions) { _%> Metric: <%= condition.metricKey %></td>
  Value: <%= condition.actualValue %> <%= condition.comparator == 'GT' ? '>' : '<' %> <%= condition.errorThreshold %></td>
  <%_ } _%>
  <%_ } _%>

  Summary of the Detected <%= vulnerabilityPluralPhrase %>

  Severity: HIGH
  Number of Issues: <%= summary.high %>

  Severity: MEDIUM
  Number of Issues: <%= summary.medium %>

  Severity: LOW
  Number of Issues: <%= summary.low %>